Test pandas dataframes

In [1]:
import pandas

In [2]:
cities = {
    'name': ['New York', 'Los Angeles', 'Chicago'],
    'population': [8601186, 4057841, 2679044],
    'state': ['NY', 'CA', 'IL'],
 }

In [3]:
df = pandas.DataFrame(cities)

In [4]:
cities

{'name': ['New York', 'Los Angeles', 'Chicago'],
 'population': [8601186, 4057841, 2679044],
 'state': ['NY', 'CA', 'IL']}

In [9]:
for col in df:
    print (col)

name
population
state

In [10]:
list(df)

['name', 'population', 'state']

In [12]:
df.keys()

Index(['name', 'population', 'state'], dtype='object')

In [13]:
df.get('name')

0       New York
1    Los Angeles
2        Chicago
Name: name, dtype: object

In [15]:
df['name']

0       New York
1    Los Angeles
2        Chicago
Name: name, dtype: object

In [17]:
value0 = df['name'][0]
value0

'New York'